// bower:scss
// endbower

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;

  &:hover {
        color: #4183c4;
        text-decoration: none;
    }
}

html * {
    vertical-align: top;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, freesans, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    background-color: #FFFFFF;    
}

.header {
    clear: both;
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e5e5e5;
}

.navigation {
    width: 980px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

.logo {
    width: 24px;
    height: 25px;
    padding: 8px 10px 8px 10px;
    margin-left: -10px;
    margin-right: 5px;
    // margin-bottom: 2px;
    float: left;
    // background-repeat: no-repeat;
    // background-size: cover;
}

.fa-github {
    color: #333333;

    &:hover {
        color: #4183c4;
        text-decoration: none;
    }
}

.fa-star {
    color: #888;
    
    &:hover {
        color: red;
        text-decoration: none;
    }
}

.notification {
    float: left;
    width: 39px;
    height: 40px;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
    padding-left: 1px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.notification-id {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-image: -webkit-linear-gradient(#aaa, #ccc);
    background-image: linear-gradient(#aaa, #ccc);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),0 1px 0 #fff;
    margin-top: 16px;
}

.navigation-search {
    position: relative;
    font-family: Helvetica, Arial, freesans, sans-serif;
    font-size: 12px;
    width: 190px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 6px;
    padding: 4px 20px 4px 8px;
    background: #fcfcfc;
    box-shadow: 1px 1px 0 #fff;
}

.navigation-hidden {
    opacity: 0;
    visibility: hidden;
}

.navigation-hidden-display {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 95;
    max-height: 420px;
    overflow-y: auto;
    font-size: 13px;
    background-color: #fff;
}

.navigation-search-help {
    top: 0;
    bottom: 0;
    right: 10px;
    width: 12px;
    height: auto;
    z-index: 96;
}

.navigation-top {
    position: absolute;
    top: 0;
    z-index: 99;
    margin-top: 11px;
    margin-left: 325px;  
    width: 211px;
    list-style: none;
    
}

.navigation-list {
    // margin-top: 6px; 
    display: inline-block;
}

.navigation-type {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    text-shadow: 0 1px 0 #fff;

    &:hover {
        color: #4183c4;
        text-decoration: none;
    }
}

.navigation-user-tools-ul {
    float: right;
    margin: 7px 0 0;
    padding: 0;
    list-style: none;
    
}

.navigation-user-tools-li {
    float: left;
    margin-left: 5px;
    display: inline-block;
}


.main-container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    // margin-bottom: 20px;
}

.sidebar {
    width: 230px;
    height: 471px;
    float: left;
    display: inline-block;
    padding: 0 10px 0 10px;
    background-color: #FFFFFF;
}

.sidebar-avatar {
    height: 230px;
    width: 230px;
    border-radius: 6px;
    background-size: cover;
    box-sizing: border-box;
}

.sidebar-name {
    height: 30px;
    width: 230px;
    display: block;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    padding-top: 10px;
}

.sidebar-login {
    height: 24px;
    width: 230px;
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
    padding-bottom: 15px;
}

.sidebar-details {
    height: 46px;
    width: 230px;
    padding: 15px 0 15px 0;
    border-top: 1px solid #eee;
}

.sidebar-details-location-icon {
    float: left;
    width: 16px;
    margin-left: -21px;
    // background-size: cover;
}

.sidebar-details-location {
    padding: 2px 0 2px 24px;
    font-size: 14px;
    display: inline-block;
}

.sidebar-details-date {
    padding: 2px 0 2px 24px;
    font-size: 14px;
    display: inline-block;
}

.sidebar-details-date-icon {
    float: left;
    width: 16px;
    margin-top: 1px;
    margin-left: -23px;
    // background-size: cover;
}

.sidebar-stats {
    height: 43px;
    width: 230px;
    padding: 15px 0 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.sidebar-stats-text {
    width: 33%;
    height: 43px;
    font-size: 11px;
    color: #999999;
    text-align: center;
    display: block;
    // margin-left: 40px;
}

.sidebar-stats-followers {
    width: 33%;
    height: 43px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #222;
    text-align: center;
    float: left;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
        color: #4183c4;
    }
}

.sidebar-stats-starred {
    width: 33%;
    height: 43px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #222;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
        color: #4183c4;
    }
}

.sidebar-stats-following {
    width: 33%;
    height: 43px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #222;
    text-align: center;
    float: right;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
        color: #4183c4;
    }
}

.sidebar-stats-text {
    float: left;
    width: 33.333%;
    font-size: 11px;
    color: #999;
    text-align: center;
    text-transform: capitalize;
    box-sizing: border-box;
}

.repo-list {
    width: 730px;
    // height: 856px;
    float: left;
    display: block;
    padding: 0 10px 40px 10px;
}

.nav-tab {
    width: 730px;
    float: left;
    display: block;
    position: absolute;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.tab-nav {
    position: relative;
    width: 730px;
    height: 35px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.filter-bar {
    position: relative;
    width: 730px;
    height: 34px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.input-repo {
    min-height: 34px;
    padding: 7px 8px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    vertical-align: middle;
}

.repo-list-li {
    position: relative;
    width: 730px;
    // height: 47px;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    list-style: none;
}

.repo-list-icon {
    float: left;
    margin-left: 5px;
    width: 35px;
}

.repo-name {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    color: #4183c4;
    list-style: none;
    display: inline-block;
    white-space: nowrap;
}

.repo-description {
    width: 730px;
    margin-left: 40px;
    margin-bottom: 5px;
    color: #333333;
}

.repo-last-updated {
    font-size: 11px;
    color: #999999;
    margin-left: 40px;
    display: inline-block;
}

.repo-updated {
    font-size: 11px;
    color: #999999;
    display: inline-block;
}

.repo-stats {
    width: 137px;
    height: 20px;
    float: right;
    padding: 0 5px;
    margin-left: 0;
    list-style: none;
    top: 9px;
    z-index: 5;

}

.repo-stats-li {
    float: left;
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 5px;
    color: #666;

    &:hover {
        color: #4183c4;
        cursor: pointer;
    }
}

.repo-language {
    float: left;
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #666;
}

.repo-stargazers {
    float: left;
    padding-left: 5px;
    margin-top: 1px;
    list-style: none;
}

.repo-forks {
    float: left;
    padding-left: 5px;
    margin-top: 1px;
    list-style: none;
}

// .footer-container {
//     width: 980px;
//     max-height: 99px;
//     margin-right: auto;
//     margin-left: auto;
// }

.footer {
    font-size: 12px;
    color: #777;
    clear: both;
    // margin-top: 10px;
    // margin-bottom: 90px;
    margin: 0 auto;
    padding-top: 29px;
    padding-bottom: 51px;
    height: 18px;
    width: 980px;
    background: #FFFFFF;
    border-top: 1px solid #eee;
}

.footer-logo {
    top: 42px;
    left: 50%;
    height: 24px;
    width: 24px;
    margin-left: 15%;
    font-size: 24px;
    color: #ccc;
}

.ul-footer-links-left {
    float: left;
    // padding-left: 10px;
    list-style: none;
    // display: inline-block;
}

.ul-footer-links-right {
    float: right;
    // padding-left: 10px;
    list-style: none;
    // display: inline-block;
}

.li-footer-links-left {
    float: left;
    padding-right: 13px;
    list-style: none;
    display: inline-block;
}

.li-footer-links-right {
    float: left;
    padding-left: 13px;
    list-style: none;
    display: inline-block;
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: auto;
}

p {
    font-size: 11px;
    color: #999;
}

// h1 {
//     font-size: 100px;
// }

h3 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    color: #4183c4;
}

h3:hover {
    text-decoration: underline;
}

ul, menu, dir {
display: block;
list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

input:focus {
    border: 1px solid #4183c4;
    border-radius: 3px;
    // border-color: #51a7e8;
    // box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}